body{
    margin-left: 88px;
}

.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
    width: 150px;
    height: 96px;
    font-size: .92857143rem;
}

.ui.massive.image, .ui.massive.images .image, .ui.massive.images img, .ui.massive.images svg {
    width: 960px;
    height: 360px;
    font-size: 1.71428571rem;
}
.ui.grid>.row {
    margin-left: 19px;
}
.campaign{
min-height:1138px;
height:-webkit-fill-available;
background-color: lightgrey;
width:100%;
overflow-y:auto;
}
